body {
    margin:0;
    padding:0;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Computer-screen-code-glitch-animation-gif-background-free.gif/1280px-Computer-screen-code-glitch-animation-gif-background-free.gif');
}
#root {
    opacity: 0.5;
}