/* ListStyle.css */

table {
    width: 100%;
    border-collapse: collapse;
}
.list {
    flex-direction: column;
}
.header {
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}
h1 {
    display: block;
}
thead {
    background-color: #f2f2f2;
}

td, th {
    border: 1px solid black;
    padding: 8px 12px;
}

button {
    padding: 8px 12px;
    margin: 4px;
    cursor: pointer;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}